.container {
    background-color: white;
}

.searchForm {
    margin-inline-end: 20px;
}

.searchForm > .inputContainer {
    max-width: 60vw;
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 24px;
    padding: 4px 16px;
    margin-inline-end: 16px;
}

.searchForm > .inputContainer:hover,
.searchForm > .inputContainer:focus {
    border: 1px solid #767676;
}

.searchIcon {
    color: #767676;
}

.searchIcon:hover {
    color: black;
    cursor: pointer;
}

.inputContainer > input,
.inputContainer > input:active,
.inputContainer > input:focus {
    border: none !important;
    background-color: transparent;
    padding-inline: 20px;
    color: #767676;
    outline: none !important;
    box-shadow: none !important;
}

.loginButton {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.loginButton:hover {
    border: 1px solid #555;
}

.toggleButton,
.toggleButton:active,
.toggleButton:focus {
    box-shadow: none !important;
    border: none;
}

.activeNavLink {
    border-bottom: 2px solid black;
    font-weight: 600;
}