.container {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00000055;
    display: none;
}

.container:hover .overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5%;
    cursor: pointer;
}

.container a {
    text-decoration: none;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-self: end;
    justify-content: space-between;
}

.authorInfo {
    display: flex;
    align-items: center !important;
    gap: 8px;
}

.authorInfo > img {
    border-radius: 50%;
    margin-inline-end: 10px;
}

.authorInfo > p {
    text-decoration: none;
    color: white;
    margin: 0px;
}

.downloadButton {
    margin-left: auto;
    background-color: white !important;
    border-radius: 8px !important;
}

.downloadButtonIcon {
    color: black !important;
}